<% setupBoxTimes %> 

gridster = $(".gridster > ul").gridster({
			         	widget_margins: [5, 5],
			      		widget_base_dimensions: [40, 40],
			      		draggable: {
				      		start: function(e, ui) {
		      						draggedBoxId = e.toElement.id;
		      						draggedBoxId = draggedBoxId.replace("box_", "");
			      					console.log("start: " + draggedBoxId);
							},
				      		stop: function(e, ui) {
				      				console.log("stop: " + draggedBoxId);
									updateBoxPosition(e, ui, draggedBoxId);
							}
						}
			        }).data('gridster');
gridster.remove_all_widgets();


var widgets = [
<% Box.where(user_id: current_user.id).each do |box| %>
	<% time = @box_time[box.id] %>
	<% timePerBox = 120 %>
	<% boxes = time / timePerBox %>
	<% boxes = ((boxes <= 0)? 1 : boxes) %>
	<% primeNumbers = (boxes == 1)? [ [1, 1] ] : boxes.prime_division %>
	<% puts "BOXES: " + boxes.to_s %>
	<% puts "PRIME: " + primeNumbers.to_s %>
	<% size_x = 1 %>
	<% size_y = 1 %>
	<%- primeNumbers.each do |primePair|
			size_x = size_x * primePair[0]
			size_y = size_y * primePair[1]
		end -%>

	["<li class='<%=(((!@box.nil?) && @box.id == box.id)? 'gridster-box-selected' : '')%>' id='box_<%=box.id%>'style='background:<%=box.color%>; line-height: <%=((@box_time[box.id] <= 480)? 1 : (@box_time[box.id] / 480.0).to_i) * 40 + 10%>px;' onClick='getTodosForBox(<%=box.id%>, \"<%=box.name%>\", \"<%=box.color%>\")'><%=@box_time[box.id]%></li>", 
		<%=size_x%>, <%=size_y%>, <%=box.pos_x%>, <%=box.pos_y%>],
<% end %> ];

$.each(widgets, function(i, widget){
	gridster.add_widget.apply(gridster, widget)
});

console.log("refreshed grid");
