<% @todos.all.each do |todo| %>
	<li class="todolist-item <%= (todo.done)? 'todolist-item-done' : ''%>" id="todolist-item_<%=todo.id.to_s%>">
		<table class="todolist-item-table" style="table-layout: fixed;">
			<tr>
				<td class="todolist-item-name"><%=todo.name%></td>
				<td class="todolist-item-time"><input type="text" class="dial-todo" value="<%=todo.time%>"></td>
				<td class="todomodifybtn">
					<% if !todo.done then %>
						<%= form_tag("/todos/" + todo.id.to_s, method: "put", id: "setDoneForm_" + todo.id.to_s) do %>
							<input name="todo[done]" type="hidden" value="1">
							<input type="submit" onclick="setDone(<%= todo.id %>)" value="X"></div>
						<% end %>
					<% end %>
				</td>
			</tr>
		</table>
	</li>
<% end %>

<li id="hide-done-tasks" onclick="showDoneTasks()">Show done tasks</li>

<script>
	<%= render  template: "/boxes/getGridBoxes.js.erb" %>

	$(function() {
		$(".dial-todo").knob({
        	'min' : 0, 
        	'max' : 240,
        	'width' : 25,
        	'height': 25,
        	'step' : 5,
        	'cursor' : false,
        	'inputColor' : "#FFFFFF",
        	'thickness' : 0.3,
        	'readOnly' : true,
        	"fgColor":"#EED169"
        });
	});

	function setDone(id) {
    	$("#setDoneForm_" + id).submit(function() {
    		$.ajax({
			  type: "PUT",
			  url: "/todos/" + id,
			  data: $("#setDoneForm_" + id).serializeArray(),
			})
			.done(function( html ) {
				$("#todolist").html(html);
			});

			return false;
		});	
    }

   	function hideDoneTasks() {
   		$(".todolist-item-done").hide();
   		$("#hide-done-tasks").html("Show done tasks");
   		$("#hide-done-tasks").attr("onclick", "showDoneTasks()");
   	}

   	function showDoneTasks() {
   		$(".todolist-item-done").show();
   		$("#hide-done-tasks").html("Hide done tasks");
   		$("#hide-done-tasks").attr("onclick", "hideDoneTasks()");
   	}

</script>