
<table id="wrappertable">
	<tr>
	<td id="toolbar">
		<div id="title">TimeInBoxes</div>
		<% if notice %>
		  <p class="alert alert-success"><%= notice %> <span onClick="hideAlert()" id="hide-alert-btn">x</span></p>
		<% end %>
		<% if alert %>
		  <p class="alert alert-danger"><%= alert %></p>
		<% end %>

		<div id="userstatus">
			<p class="navbar-text pull-right">
			<% if user_signed_in? %>
			  <strong><%= current_user.email %></strong>. <br/>
			  <%= link_to 'Edit profile', edit_user_registration_path, :class => 'navbar-link' %> |
			  <%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'navbar-link'  %>
			<% else %>
			  <%= link_to "Sign up", new_user_registration_path, :class => 'navbar-link'  %> |
			  <%= link_to "Login", new_user_session_path, :class => 'navbar-link'  %>
			<% end %>
			</p>
		</div>

		<div id="todolistwrapper">
			<h2 id="boxtitle"> </h2>
			<ul id="todolist"></ul>
			<div id="addtodowrapper">
				<h3>Add Todo</h3>
				<%= form_for(@todo) do |f| %>	
					<div class="field">
					    <table>
				    		<tr>
				    			<td><%= f.label :name %></td>
					    		<td><%= f.text_field :name %></td>
					    	</tr>
					    </table>
				  	</div>

			  		<div class="field">
				    	<table>
				    		<tr>
				    			<td><%= f.label :time %></td>
				    			<td><%= f.number_field :time, :value => "0" %></td>
				    		</tr>
				    	</table>
				  	</div>

				  	<%= f.hidden_field :box_id, :value => "" %>
				  	<div class="actions">
				    	<%= f.submit %>
				 	</div>
				<% end %>
			</div>
			<div id="addboxwrapper">
				<h3>Add Box</h3>
				<%= form_for(@box) do |f| %>
				  <div class="field">
				    <table>
				    		<tr>
				    			<td><%= f.label :name %></td>
				    			<td><%= f.text_field :name %></td>
					    	</tr>
					    </table>
				  </div>
				  <div class="field">
				    <table>
				    		<tr>
				    			<td><%= f.label :color %></td>
				    			<td><%= f.text_field :color %></td>
					    	</tr>
					    </table>
				  </div>
				  <div class="actions">
				    <%= f.submit %>
				  </div>
				<% end %>
			</div>
		</div>
	</td>

	<td style="vertical-align: top;">
		<div id="boxeswrapper">
			<div class="gridster">
				<ul></ul>
			</div>
		</div>
	</td>
	</tr>
</table>


<script>
	var gridster;
	var todos;
	
	$(document).ready(function() {
		$(function() {
		    $( "#todolist" ).selectable();
	  	});

	  	$(function() {
		    $( "#box_start_date" ).datepicker();
	  	});
	});


    $(function(){

      	gridster = $(".gridster > ul").gridster({
         	widget_margins: [5, 5],
      		widget_base_dimensions: [40, 40],

      }).data('gridster');
      	var widgets = [
      		<% Box.where(user_id: current_user.id).each do |box| %>
          		["<li id='box_<%=box.id%>'style='background:<%=box.color%>; line-height: <%=((@box_time[box.id] <= 480)? 1 : (@box_time[box.id] / 480.0).to_i) * 40 + 10%>px;' onClick='getTodosForBox(<%=box.id%>, \"<%=box.name%>\")'><%=@box_time[box.id]%></li>", <%=(@box_time[box.id] / 480.0).to_i%>, <%=(@box_time[box.id] / 480.0).to_i%>],	
          	<% end %>
      	];

	  	$.each(widgets, function(i, widget){
	      	gridster.add_widget.apply(gridster, widget)
	  	});

    });

	/**
		Show every related todo is list
	*/
    function getTodosForBox(id, name) {
    	$(".gridster li").removeClass("gridster-box-selected");
    	$("#box_" + id).addClass("gridster-box-selected");
    	$.ajax({
		  url: "/boxes/"+id+"/todos",
		  cache: false
		})
		  .done(function( html ) {
		  	$("#boxtitle").html(name + "<a data-confirm='Are you sure?'' data-method='delete' href='/boxes/"+id+"' rel='nofollow' style='float:right;'>X</a>");
		    $("#todolist").html(html);
		    $("#commands").html(createAddTodoBtn(id));
		    $("#todo_box_id").val(id)
		    $("#addtodowrapper").show();
		  });
    }

    function createAddTodoBtn(id) {
    	return ""
    }

    function hideAlert() {
    	$(".alert").hide();
    }

</script>