<table id="wrappertable">
	<tr>
		<td style="vertical-align: top;">
			<div id="boxeswrapper">
				<div class="gridster">
					<ul></ul>
				</div>
			</div>
		</td>
	</tr>
</table>


<script>
	var gridster;
	var todos;
	var draggedBoxId;
	
	$(document).ready(function() {
		$(function() {
		    $( "#todolist" ).selectable();
	  	});

	  	$(function() {
		    $( "#box_start_date" ).datepicker();
	  	});

        $(".dial").knob({
        	'min' : 0, 
        	'max' : 240,
        	'width' : 50,
        	'height': 50,
        	'step' : 5,
        	'cursor' : false,
        	'inputColor' : "#FFFFFF",
        	'thickness' : 0.3,
        	 "fgColor":"#EED169"
        });

	  	$("#colorPicker").tinycolorpicker();
	});


    $(function(){

      	gridster = $(".gridster > ul").gridster({
         	widget_margins: [5, 5],
      		widget_base_dimensions: [40, 40],
      		max_cols: 16,
      		min_cols: 16,
      		min_rows: 16,
      		max_rows: 16,
      		serialize_params:
      			function ($w, wgd) {
			    return {
			      id: $w.prop('id'),
			      col: wgd.col,
			      row: wgd.row
			    };
  			},
      		draggable: {
      			start: function(e, ui) {
      					draggedBoxId = e.toElement.id;
  						draggedBoxId = draggedBoxId.replace("box_", "");
	      				console.log("start: " + draggedBoxId);
				},
	      		stop: function(e, ui) {
	      				console.log("stop: " + draggedBoxId);
						updateBoxPosition(e, ui, draggedBoxId);
				},
			}
      }).data('gridster');
      	<% require 'prime' %>
      	var widgets = [
      		<% Box.where(user_id: current_user.id).each do |box| %>
      			<% time = @box_time[box.id] %>
				<% timePerBox = 60 %>
				<% boxes = time / timePerBox %>
				<% boxes = ((boxes <= 0)? 1 : boxes) %>
				<% primeNumbers = (boxes == 1)? [ [1, 1] ] : boxes.prime_division %>
				<% puts "BOXES: " + boxes.to_s %>
				<% puts "PRIME: " + primeNumbers.to_s %>
				<% size_x = 1 %>
				<% size_y = 1 %>
				<%- primeNumbers.each do |primePair|
						size_x = size_x * primePair[0]
						size_y = size_y * primePair[1]
					end -%>
				

          		["<li id='box_<%=box.id%>'style='background:<%=box.color%>; line-height: <%=((@box_time[box.id] <= 480)? 1 : (@box_time[box.id] / 480.0).to_i) * 40 + 10%>px;' onClick='getTodosForBox(<%=box.id%>, \"<%=box.name%>\", \"<%=box.color%>\")'><%=@box_time[box.id]%></li>", <%=size_x%>, <%=size_y%>, <%=box.pos_x%>, <%=box.pos_y%>],	
          	<% end %>
      	];

	  	$.each(widgets, function(i, widget){
	      	gridster.add_widget.apply(gridster, widget)
	  	});

    });

	/**
		Show every related todo is list
	*/
    function getTodosForBox(id, name, color) {
    	$(".gridster li").removeClass("gridster-box-selected");
    	$("#box_" + id).addClass("gridster-box-selected");
    	$.ajax({
		  url: "/boxes/"+id+"/todos",
		  cache: false
		})
		  .done(function( html ) {
		  	var colorpickerForm = "<%= j form_tag('/boxes/', method: 'put', :id => 'colorPickerBoxTitleForm') do %> <% end %>";
		  	var colorpickerDiv = "<div id='colorPicker'>" +
							        "<a class='color'><div class='colorInner'></div></a>" +
							        "<div class='track' style='background-image:url(../images/text-color.png)'></div>" + 
							        "<ul class='dropdown'><li></li></ul>" + 
							        "<input id='box_color' name='box[color]' class='colorInput' type='hidden'>" + 
							    "</div>";
		  				
		  	$("#boxtitle").html(name);
		  	$("#deleteBoxWrapper").html("<a data-confirm='Are you sure?' style='float:right; cursor:pointer;' onclick='deleteBox("+ id + ")'>X</a>");
		  	$("#colorPickerBoxTitleWrapper").html(colorpickerForm);
		  	$("#colorPickerBoxTitleForm").append(colorpickerDiv);
		    $("#todolist").html(html);
		    $("#todo_box_id").val(id)
		    $("#addtodowrapper").show();
		    $("#colorPicker").tinycolorpicker();
		    $("#colorPickerBoxTitleWrapper .colorInner").css("backgroundColor", color);
		    $("#colorPickerBoxTitleWrapper .colorInput").val(color);

		    var $box = $('#colorPickerBoxTitleWrapper #colorPicker');
		    $box.tinycolorpicker();

		    $box.bind("change", function()
		    {
		        // update Box
		        $.ajax({
				  type: "PUT",
				  url: "/boxes/"+id,
				  data: $("#colorPickerBoxTitleForm").serializeArray(),
				  dataType: "script"
				});
		    });
		    snapper.open('left');

		  });
    }

    function hideAlert() {
    	$(".alert").hide();
    }

    function createTodo() {
    	$("#new_todo").submit(function() {
    		$.ajax({
			  type: "POST",
			  url: "/todos",
			  data: $("#new_todo").serializeArray(),
			})
			.done(function( html ) {
				$("#todolist").html(html);
				$("#todo_name").val("");
				$("#todo_time").val("0");
			});

			$("#new_todo").unbind();
			return false;
		});	
    }

    function createBox() {
    	$("#new_box").submit(function() {
    		$.ajax({
			  type: "POST",
			  url: "/boxes",
			  data: $("#new_box").serializeArray(),
			  dataType: "script"
			})
			.done(function( html ) {
				$("#box_name").val("");
				$("#boxtitle").html("");
				$("#todolist").html("");
				$("#deleteBoxWrapper").html("");
				$("#colorPickerBoxTitleWrapper").html("");
				$("#addtodowrapper").hide();
			});

			$("#new_todo").unbind();
			return false;
		});
    }

    function deleteBox(id) {
		$.ajax({
				  type: "DELETE",
				  url: "/boxes/" + id,
				  dataType: "script"
				})
		.done(function( html ) {
			$("#boxtitle").html("");
			$("#deleteBoxWrapper").html("");
			$("#colorPickerBoxTitleWrapper").html("");
			$("#addtodowrapper").hide();
		});
		return false;
	}


	function updateBoxPosition(e, ui, id) {
		var selected = $(".gridster-box-selected");
		var lastId = -1;
		if (selected.length > 0) {
			lastId = $(".gridster-box-selected").attr("id").replace("box_", "");
		}

		console.log(lastId);

		// save new position
		$.ajax({
		  type: "PUT",
		  url: "/boxes/updateBoxes",
		  data: {data: gridster.serialize(), selected: lastId},
		  dataType: "script"
		})
		.done(function( html ) {
			
		});
	}
</script>